@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #192436;
  width: 100%;
  padding: 50px 0px;
  color: #ffffff;
  position: relative;
}

.logo img {
  position: absolute;
  top: 13px;
  left: 110px;
  font-size: 25px;
}

.nome {
  position: absolute;
  font-size: 20px;
  right: 180px;
  top: 33px;
}

.info {
  background-color: #ffffff;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 110px;
  border-radius: 50%;
  color: #192436;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.info span {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  right: 7px;
  bottom: 10px;
  text-transform: uppercase;
}

.conteudo {
  width: 1135px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menuLateral {
  background-color: #ffffff;
  text-align: center;
  border-right: #999999 1px solid;
  padding: 30px;
}

.menuLateral a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  background-color: #999999;
  padding: 20px;
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.77);
}

.menuLateral a:hover {
  background-color: rgba(23, 36, 54, 0.8);
}

.menuLateral a:nth-child(4) {
  margin-bottom: 0px;
}

.infoMenu {
  background-color: #ffffff;
}

footer {
  background-color: #192436;
  padding: 51px;
  text-align: center;
  color: #ffffff;
  position: relative;
  letter-spacing: 1px;
}
