@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgba(23, 36, 54, 0.8);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.container {
  background-color: #c0c0c0;
  width: 500px;
  height: 550px;
  margin: 35px auto;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.77);
  border-radius: 10px;
  animation: up 500ms ease-out;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
    }
}

.primaria {
  background-color: #192436;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.77);
  position: relative;
  width: 100%;
  height: 100px;
}

.primaria h1 {
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  position: absolute;
  left: 112px;
  bottom: 32px;
  text-transform: uppercase;
}

.secundaria {
  padding: 35px 50px;
  margin-bottom: 15px;
}

.secundaria div {
  padding-bottom: 25px;
}

.secundaria span {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #192436;
  margin-bottom: 5px;
}

.secundaria input {
  height: 25px;
  width: 390px;
  border-radius: 3px;
  padding: 0 5px;
  letter-spacing: 1px;
}

.botoes {
  text-align: center;
  margin-bottom: 75px;
}

.botoes a {
  background-color: #192436;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.botoes a:hover {
  background-color: rgba(23, 36, 54, 0.8);
  color: #ffffff;
}

.container p {
  text-align: center;
  font-size: 15px;
  color: #192436;
  letter-spacing: 1px;
}
