{% extends "layout.njk" %}

{% block head %}
  <head>
    <title>Cadastro - Credmil</title>
    <link rel="stylesheet" href="css/cadastro.css"/>
    <link rel="shortcut icon" href="img/credmil_icone.ico" type="image/x-icon"/>
  </head>
{% endblock %}

{% block body %}
  <body>
    <div class="container">
      <div class="primaria">
        <h1>Cadastre-se</h1>
      </div>
      <form method="POST" action="/login">
        <div class="secundaria">
          <div>
            <span>Nome:</span>
            <span class="info">*</span>
            <input type="text" name="nome" placeholder="Digite seu nome..."/>
          </div>
          <div>
            <span>Sobrenome:</span>
            <span class="info">*</span>
            <input type="text" name="sobrenome" placeholder="Digite seu sobrenome..."/>
          </div>
          <div>
            <span>CPF:</span>
            <span class="info">*</span>
            <input type="text" id="cpf" name="CPF" autocomplete="off" placeholder="Digite seu CPF..." maxlength="14" onkeyup="mascara_cpf()"/>
          </div>
          <div>
            <span>Data de Nascimento:</span>
            <span class="info">*</span>
            <input type="date" name="nascimento"/>
          </div>
          <div>
            <span>E-mail:</span>
            <span class="info">*</span>
            <input type="email" name="email" placeholder="Digite seu e-mail..."/>
          </div>
          <div>
            <span>Confirmar e-mail:</span>
            <span class="info">*</span>
            <input type="email" name="confirmaEmail" placeholder="Confirme seu e-mail..."/>
          </div>
          <div>
            <span>Senha:</span>
            <span class="info">*</span>
            <input type="password" name="senha" placeholder="Digite sua senha..." maxlength="15"/>
          </div>
          <div>
            <span>Confirmar senha:</span>
            <span class="info">*</span>
            <input type="password" name="confirmaSenha" placeholder="Confirme sua senha..." maxlength="15"/>
          </div>
        </div>
        <div class="botoes">
          <a href="/">Voltar</a>
          <button type="submit">Cadastrar</button>
        </div>
      </form>
      <p>&#169; Copyright Credmil</p>
    </div>

    <script src="js/script.js"></script>
  </body>
{% endblock %}