@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #192436;
  width: 100%;
  padding: 50px 0px;
  color: #ffffff;
  position: relative;
}

.logo img {
  position: absolute;
  top: 13px;
  left: 110px;
  font-size: 25px;
}

.nome {
  position: absolute;
  font-size: 20px;
  right: 180px;
  top: 33px;
}

.info {
  background-color: #ffffff;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 110px;
  border-radius: 50%;
  color: #192436;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.info span {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  right: 7px;
  bottom: 10px;
  text-transform: uppercase;
}

.sair {
  width: 95px;
  height: 45px;
  background-color: #fff;
  position: absolute;
  right: 86px;
  top: 75px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.sair.active {
  opacity: 1;
  visibility: visible;
}

.sair a {
  text-decoration: none;
  position: relative;
  top: 12px;
  letter-spacing: 0.5px;
}

.sair a:hover {
  color: #ff0000;
}

.conteudo {
  width: 1135px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menuLateral {
  background-color: #ffffff;
  text-align: center;
  border-right: #999999 1px solid;
  padding: 30px;
}

.menuLateral a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  background-color: #999999;
  padding: 20px;
  margin-bottom: 58px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.77);
}

.menuLateral a:hover {
  background-color: rgba(23, 36, 54, 0.8);
}

.menuLateral a:nth-child(4) {
  margin-bottom: 0px;
}

.menuLateral a.active {
  background-color: #192436;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  margin-bottom: 58px;
  margin-right: -50px;
}

.infoMenu {
  background-color: #ffffff;
  padding: 30px;
  padding-top: 50px;
}

.welcome {
  text-align: center;
  position: relative;
  top: 80px;
}

.conteudoEnviarProposta h1 {
  padding-bottom: 40px;
  text-align: center;
}

.conteudoEnviarProposta p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 20px;
}

.conteudoEnviarProposta .button {
  padding-top: 40px;
  text-align: center;
}

.conteudoEnviarProposta .button button {
  background-color: #192436;
  color: #ffffff;
  padding: 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoEnviarProposta .button span {
  background-color: #192436;
  color: #ffffff;
  padding: 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoEnviarProposta button:last-child {
  margin-left: 20px;
}

.conteudoCentralDocumentos h1 {
  padding-bottom: 30px;
  text-align: center;
}

.conteudoCentralDocumentos #texto1 {
  padding-bottom: 20px;
}

.conteudoCentralDocumentos p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 5px;
}

.conteudoCentralDocumentos .button {
  padding-top: 30px;
  text-align: center;
}

.conteudoCentralDocumentos .button span {
  background-color: #192436;
  color: #ffffff;
  padding: 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoConfeccaoContrato h1 {
  padding-bottom: 60px;
  text-align: center;
}

.conteudoConfeccaoContrato p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 60px;
}

.conteudoConfeccaoContrato .button {
  text-align: center;
}

.conteudoConfeccaoContrato .button button {
  background-color: #192436;
  color: #ffffff;
  padding: 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoConfeccaoContrato .button span {
  background-color: #192436;
  color: #ffffff;
  padding: 25px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoAcompanharFinanciamento h1 {
  padding-bottom: 40px;
  text-align: center;
}

.conteudoAcompanharFinanciamento p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 60px;
}

.conteudoAcompanharFinanciamento #texto2 {
  font-size: 27px;
  text-align: left;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

.modal p {
  top: 280px;
  text-align: center;
  position: relative;
  color: #777;
  font-size: 20px;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

footer {
  background-color: #192436;
  padding: 51px;
  text-align: center;
  color: #ffffff;
  position: relative;
  letter-spacing: 1px;
}
