{% extends "layout.njk" %}

{% block head %}
    <head>
        <title>Central de Documentos - Credmil</title>
        <link rel="stylesheet" href="/css/cliente.css"/>
        <link rel="shortcut icon" href="/img/credmil_icone.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock %}

{% block body %}
    <body>
        <header>
            <div class="logo">
                <a href="/cliente"><img src="/img/credmil_logo.png" alt="Logo Credmil"/></a>
            </div>
            <div class="nome">Marcos Silva</div>
            <div class="info">
                <span>ms</span>
            </div>
            <div class="sair">
                <a href="/login">Sair</a>
            </div>
        </header>

        <div class="conteudo">
            <div class="menuLateral">
                <a href="/cliente/enviar-proposta">Enviar Proposta</a>
                <a href="/cliente/central-documentos">Central de Documentos</a>
                <a href="/cliente/confeccao-contrato">Confecção de Contrato</a>
                <a href="/cliente/acompanhar-financiamento">Acompanhar Financiamento</a>
            </div>
            <div class="infoMenu">
                <div class="conteudoCentralDocumentos">
                    <h1>Central de Documentos</h1>
                    <p id='texto1'>Na central de documentos você terá que anexar os documentos solicitados abaixo.</p>
                    <p>
                        - RG;
                    </p>
                    <p>
                        - Certidão de Nascimento;
                    </p>
                    <p>
                        - Certidão de Casamento (Caso for casado);
                    </p>
                    <p>
                        - Matricula de Imóvel;
                    </p>
                    <p>
                        - Carteira de Trabalho;
                    </p>
                    <p>
                        - Laudo do Imóvel;
                    </p>
                    <div class="button">
                        <span>Anexar Documentos</span>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&#169; Copyright Credmil</p>
        </footer>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>
                <p>Arraste seus arquivos aqui...</p>
            </div>
        </div>

        <script src="/js/scripts.js"></script>
    </body>
{% endblock %}