{% extends "layout.njk" %}

{% block head %}
    <head>
        <title>Enviar Proposta - Credmil</title>
        <link rel="stylesheet" href="/css/cliente.css"/>
        <link rel="shortcut icon" href="/img/credmil_icone.ico" type="image/x-icon"/>
    </head>
{% endblock %}

{% block body %}
    <body>
        <header>
            <div class="logo">
                <a href="/cliente"><img src="/img/credmil_logo.png" alt="Logo Credmil"/></a>
            </div>
            <div class="nome">Marcos Silva</div>
            <div class="info">
                <span>ms</span>
            </div>
        </header>

        <div class="conteudo">
            <div class="menuLateral">
                <a href="/cliente/enviar-proposta" onclick="mostrarAtivo(this);">Enviar Proposta</a>
                <a href="/cliente/central-documentos" onclick="mostrarAtivo(this);">Central de Documentos</a>
                <a href="/cliente/acompanhar-financiamento" onclick="mostrarAtivo(this);">Acompanhar Financiamento</a>
            </div>
            <div class="infoMenu">
                <div class="conteudoEnviarProposta">
                    <h1>Enviar Proposta</h1>
                    <p>1. Clique em "Baixar Formulário" para iniciar o download;</p>
                    <p>2. Preencha os dados solicitados no formulário;</p>
                    <p>3. Clique em "Enviar Formulário" para anexar o formulário preenchido;</p>
                    <p>4. Aguarde o retorno do seu gerente com as próximas instruções;</p>
                    <div class="button">
                        <button type="submit">Baixar Formulário</button>
                        <button type="submit">Enviar Formulário</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&#169; Copyright Credmil</p>
        </footer>

        {# <script src="js/scripts.js"></script> #}
    </body>
{% endblock %}