{% extends "layout.njk" %}

{% block head %}
    <head>
        <title>Central Documentos - Credmil</title>
        <link rel="stylesheet" href="/css/cartorio.css"/>
        <link rel="shortcut icon" href="/img/credmil_icone.ico" type="image/x-icon"/>
    </head>
{% endblock %}

{% block body %}
    <body>
        <header>
            <div class="logo">
                <a href="/cartorio"><img src="/img/credmil_logo.png" alt="Logo Credmil"/></a>
            </div>
            <div class="nome">Marcos Silva</div>
            <div class="info">
                <span>ms</span>
            </div>
        </header>

        <div class="conteudo">
            <div class="menuLateral">
                <a href="/cartorio/selecionar-cliente" onclick="mostrarAtivo(this);">Selecionar Cliente</a>
                <a href="/cartorio/central-documentos" onclick="mostrarAtivo(this);">Central de Documentos</a>
                <a href="/cartorio/acompanhar-documentacao" onclick="mostrarAtivo(this);">Acompanhar Documentação</a>
            </div>
            <div class="infoMenu">
                <div class="conteudoCentralDocumentos">
                    <h1>Central de Documentos</h1>
                    <p>Nesta tela você poderá baixar e anexar os documentos que o cliente necessita.</p>
                    <p>Para baixar algum arquivo, clique em "Baixar Documentos"</p>
                    <p>Para anexar algum arquivo, clique em "Anexar Documentos"</p>
                    <div class="button">
                        <div class="button">
                            <button type="submit">Baixar Documentos</button>
                            <button type="submit">Anexar Documentos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&#169; Copyright Credmil</p>
        </footer>

        <script src="/js/scripts.js"></script>
    </body>
{% endblock %}