{% extends "layout.njk" %}

{% block head %}
    <head>
        <title>Central Documentos - Credmil</title>
        <link rel="stylesheet" href="/css/cartorio.css"/>
        <link rel="shortcut icon" href="/img/credmil_icone.ico" type="image/x-icon"/>
    </head>
{% endblock %}

{% block body %}
    <body>
        <header>
            <div class="logo">
                <a href="/cartorio"><img src="/img/credmil_logo.png" alt="Logo Credmil"/></a>
            </div>
            <div class="nome">Marcos Silva</div>
            <div class="info">
                <span>ms</span>
            </div>
            <div class="sair">
                <a href="/login">Sair</a>
            </div>
        </header>

        <div class="conteudo">
            <div class="menuLateral">
                <a href="/cartorio/selecionar-cliente">Selecionar Cliente</a>
                <a href="/cartorio/central-documentos">Central de Documentos</a>
                <a href="/cartorio/registro-contrato">Registro de Contrato</a>
            </div>
            <div class="infoMenu">
                <div class="conteudoCentralDocumentos">
                    <h1>Central de Documentos</h1>
                    <p>Clique em "Baixar Documentos" para fazer o download dos documentos do cliente;</p>
                    <div class="button">
                        <button type="submit">Baixar Documentos</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&#169; Copyright Credmil</p>
        </footer>

        <script src="/js/scripts.js"></script>
    </body>
{% endblock %}