{% extends "layout.njk" %}

{% block head %}
  <head>
    <title>Cartório - Credmil</title>
    <link rel="stylesheet" href="css/cartorio.css"/>
    <link rel="shortcut icon" href="img/credmil_icone.ico" type="image/x-icon"/>
  </head>
{% endblock %}

{% block body %}
  <body>
    <header>
      <div class="nome">Marcos Silva</div>
      <div class="info">
        <span>ms</span>
      </div>
      <div class="sair">
        <a href="/login">Sair</a>
      </div>
    </header>

    <div class="conteudo">
      <div class="menuLateral">
        <a href="/cartorio/selecionar-cliente" onclick="mostrarAtivo(this);">Selecionar Cliente</a>
        <a href="/cartorio/central-documentos" onclick="mostrarAtivo(this);">Central de Documentos</a>
        <a href="/cartorio/acompanhar-documentacao" onclick="mostrarAtivo(this);">Acompanhar Documentação</a>
      </div>
      <div class="infoMenu">
        <div class="welcome">
          <img src="img/credmil_logo3.png" alt="Logo Credmil"/>
        </div>
      </div>
    </div>

    <footer>
      <p>&#169; Copyright Credmil</p>
    </footer>

    <script src="/js/scripts.js"></script>
  </body>
{% endblock %}