{% extends "layout.njk" %}

{% block head %}
    <head>
        <title>Confecção de Contrato - Credmil</title>
        <link rel="stylesheet" href="/css/banco.css"/>
        <link rel="shortcut icon" href="/img/credmil_icone.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock %}

{% block body %}
    <body>
        <header>
            <div class="logo">
                <a href="/banco"><img src="/img/credmil_logo.png" alt="Logo Credmil"/></a>
            </div>
            <div class="nome">Marcos Silva</div>
            <div class="info">
                <span>ms</span>
            </div>
            <div class="sair">
                <a href="/login">Sair</a>
            </div>
        </header>

        <div class="conteudo">
            <div class="menuLateral">
                <a href="/banco/selecionar-cliente">Selecionar Cliente</a>
                <a href="/banco/central-documentos">Central de Documentos</a>
                <a href="/banco/confeccao-contrato">Confecção de Contrato</a>
                <a href="/banco/controle-financiamento">Controle de Financiamento</a>
            </div>
            <div class="infoMenu">
                <div class="conteudoConfeccaoContrato">
                    <h1>Confecção do Contrato</h1>
                    <p>Em confecção de contrato, após confeccionar o mesmo, anexar nesta tela e notificar o cliente.</p>
                    <div class="button">
                        <div class="button">
                            <span>Anexar Contrato</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&#169; Copyright Credmil</p>
        </footer>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>
                <p>Arraste seus arquivos aqui...</p>
            </div>
        </div>

        <script src="/js/scripts.js"></script>
    </body>
{% endblock %}